body {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: #A5D6A7;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    clear: both;
}

body {
    background: url(https://images.pexels.com/photos/730981/pexels-photo-730981.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat;
    background-size: cover;
}

.post_list_item {
    margin: 8px;
    padding: 10px 10px;
    border-bottom: 1px solid #090;
    box-shadow: 2px 2px 2px 2px #ccc;
    background: #fff;
    opacity: 0.8;
}

/*****************************
    NAVBAR
*****************************/
nav {
    height: 40px !important;
    line-height: 40px !important;
    background-color: #000 !important;
    opacity: 1 !important;
    width: 100% !important;
    margin-bottom: 20px !important;
    z-index: 20 !important;
}

nav ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

nav ul li {
    float: left !important;
    width: 270px !important;
    height: 40px !important;
    background-color: #000;
    opacity: 1;
    line-height: 40px !important;
    text-align: center !important;
    font-size: 20px !important;
    z-index: 20;
}

nav ul li a {
    text-decoration: none !important;
    color: white !important;
    display: block !important;
}

nav ul li a:hover {
    background-color: green !important;
}

nav ul li ul li {
    z-index: 20 !important;
    display: none !important;
}

nav ul li:hover ul li {
    display: block !important;
}

nav ul li form {
    margin: 0;
    padding: 0;
}

nav ul li form input[type="text"] {
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-family: serif;
    font-size: 20px;
    outline: none;
    width: 195px;
    text-indent: 10px;
    line-height: 30px;
    opacity: 1 !important;
    margin-top: -10;
}

nav ul li form input[type="submit"] {
    border: 1px solid #4CAF50;
    cursor: pointer;
    font-family: serif;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    background-color: #4CAF50;
    line-height: 30px;
    padding-left: 20px; 
    padding-right: 20px; 
    opacity: 1 !important;
}

/*****************************
    MAIN PAGE
*****************************/
h1.post_title {
    margin-top: 0;
    color: #1B5E20;
    float: left;
}

.post_content {
    clear: both;
}

.post_updated {
    color: #4CAF50;
    line-height: 1.5rem;
    float: right;
}

.post_date {
    color: #4CAF50;
}


a {
    color: #388E3C;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover {
    color: #81C784;
}

a:active {
    color: #2E7D32;
}

a:visited {
    color: #1B5E20;
}


/*****************************
    ABOUT PAGE
*****************************/
.post_count {
    color: #388E3C;
}