{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="col-sm-4 col-sm-offset-4 text-center">

    {% if not request.user.is_authenticated %}
        <div class="well well-sm">
            <h1>{{ title|capfirst }}</h1>
            <hr>
            <form class="form" method="POST">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="{{ title|capfirst }}" name="{{ title }}">
            </form>
            <hr>
            {% if title == "login" %}
                <p>New user? <a href="{% url 'register' %}">Register here</a></p>
            {% else %}
                <p>Already registered? <a href="{% url 'login' %}">Login here</a></p>
            {% endif %}
        </div>

    {% else %}
        <div class="well well-sm text-center">
            <p>You are already logged in as {{ request.user.username }}.</p>
            <p>Do you want to <a href="{% url 'logout' %}">logout</a>?</p>
        </div>
    {% endif %}
    
</div>

{% endblock %}